@import 'constants';

// User modules styles
@import '../modules/User/components/RegisterPage.scss';
@import '../modules/User/components/LoginPage.scss';

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-input-placeholder {
  color:#aaa;
  font-weight: 300;
}
::-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}
:-ms-input-placeholder {
  color:#aaa;
  font-weight: 300;
}
input:-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}

body {
  background: #FFF;
  font-family: $fontOswald;
  font-size: 16px;
}

button {
  text-align: center;
  border: 0;
  padding: 10px 0;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
